.sys-ruleForm {
  width: 100%;
  height: 100%;
  .content {
    height: calc(100% - 50px);
    overflow: auto;

    .webMenuList {
      width: 100%;
      margin-top: 20px;
      border: 1px solid #eee;

      .draggable {
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        .dargBtn {
          width: 100%;
          height: 100%;
          user-select: text;
        }
      }
    }
  }
}
