.uploadFileInfo{
    text-align: center;
}
.uploadProcessWarp{
    text-align: center;
    :global{
        .info,.errorInfo{
            margin-top: 20px;
        }
        .errorInfo{
            color: #FF4D4F;
        }
    }
}